.container {
    position: relative;
    
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }

  .BaSingSe{
    top: 30%;
    left: 60%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .Omashu{
    top: 49%;
    left: 52%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .Kyoshi{
    top: 59%;
    left: 52%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .SouthPole{
    top: 70%;
    left: 43%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .NorthPole{
    top: 18%;
    left: 48%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .Swamp{
    top: 53.5%;
    left: 53%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .SAT{
    top: 60%;
    left: 43%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .WAT{
    top: 30%;
    left: 36%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .EAT{
    top: 53%;
    left: 67%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .EmberIsland{
    top: 45%;
    left: 35%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .FNC{
    top: 45%;
    left: 30%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }

  .SW{
    top: 35%;
    left: 33%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }
  



  .round-button {
    width:2%;
  }
  .round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:5px solid #cfdcec;
    overflow:hidden;
          
    background: #4679BD; 
    background-image : url("https://i.imgur.com/EWYD5qu.png");
    background-size : 100px 100px;
    background-position: center;
    box-shadow: 0 0 3px gray;
  }
  .EarthNation .round-button-circle:hover {
    background-image : url(https://i.imgur.com/14qeBDi.jpg);
    background-size : 39px 39px;

  }
  .WaterNation .round-button-circle:hover {
    background-image : url(https://i.imgur.com/2SmsnAy.png);
    background-size : 39px 39px;

  }

  .AirNation .round-button-circle:hover {
    background-image : url(https://i.imgur.com/ovgKGRp.png);
    background-size : 39px 39px;

  }
  .FireNation .round-button-circle:hover {
    background-image : url(https://i.imgur.com/97LMGNz.png);
    background-size : 39px 39px;

  }
  .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
          
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
  }

  

  a.tooltip {outline:none; }
  a.tooltip strong {line-height:30px;}
  a.tooltip:hover {text-decoration:none;} 
  a.tooltip span {
      z-index:10;display:none; padding:14px 20px;
      margin-top:60px; margin-left:-160px;
      width:200px; line-height:16px;
      height: 200px;
  }
  a.tooltip:hover span{
      display:inline; position:absolute; 
      border:2px solid #1a8cff;  color:rgb(4, 16, 184);
      background:#333 repeat-x 0 0;
      border-radius: 22px;
      
      background-repeat: no-repeat;
      background-size: 240px 230px;
  }
  
  .callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
      
  /*CSS3 extras*/
  a.tooltip span
  {
      border-radius:2px;        
      box-shadow: 0px 0px 8px 4px #666;
      /*opacity: 0.8;*/
  }

.VergiliusWater { color:  #ffffff; font-family: "161VergiliusW00-Regular"; font-size: 22px; line-height: 40px; font-weight: normal; margin-bottom: 43px; margin-top: 40px; text-align: left; text-shadow: 0 1px 1px #0066cc; }

.VergiliusEarth { color:  #995c00; font-family: "161VergiliusW00-Regular"; font-size: 22px; line-height: 40px; font-weight: normal; margin-bottom: 43px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #ffd699; }

.VergiliusFire { color:  #995c00; font-family: "161VergiliusW00-Regular"; font-size: 22px; line-height: 40px; font-weight: normal; margin-bottom: 43px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #ffd699; }

.VergiliusAir { color:  #004d99; font-family: "161VergiliusW00-Regular"; font-size: 22px; line-height: 40px; font-weight: normal; margin-bottom: 43px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #1a8cff; }
