* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 36%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .spaceDude {
    position: relative;
    margin: 10px 0px 10px 0px;
  }

  .spaceDude_2 {
    position: absolute;
    top: 40%;
    margin: 100px 0px 10px 0px;
  }


  .car {
    height: 15;
  }

  .Vergilius { color:  #006080; font-family: "161VergiliusW00-Regular"; font-size: 22px; line-height: 40px; font-weight: normal; margin-bottom: 43px; margin-top: 0px; text-align: left; text-shadow: 0 1px 1px #99e6ff; }

  .bg {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    height: 100%;
  }

  .par {
    background-image: url('/assets/bg_3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .banner {
    background-image: url('/assets/banner_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

