<form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" class="bg">
    <mat-form-field appearance="fill" style="margin-left: 35%; margin-top: 5%">
       <mat-label>First and Last name</mat-label>
       <input name="name" id="name" matInput placeholder="Cabbage Merchant" formControlName="name">
       <mat-icon matSuffix>accessibility_new</mat-icon>
       <mat-hint>If you can't manage this one maybe you shouldn't be planning a vacation</mat-hint>
     </mat-form-field>
 
     <mat-form-field appearance="fill" style="margin-left: 100px; margin-top: 5%">
         <mat-label>Email</mat-label>
         <input name="email" id="email" matInput placeholder="mycabbages@gmail.com" formControlName="email">
         <mat-icon matSuffix>contact_mail</mat-icon>
         <mat-hint>In the world of Avatar email doesn't exist</mat-hint>
       </mat-form-field>
 
       <button class="buttonSubmit" type="submit" [disabled]="!loginForm.valid" appDirBtn> Sign Up </button>
 </form>